* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #282c34;
    color: white;
}

.editor-container {
    display: flex;
    flex: 1;
    border-bottom: 1px solid #444;
}

.editor-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #1e1e1e;
}

.editor-panel h2 {
    margin-bottom: 10px;
    color: #61dafb;
    display: flex;
    align-items: center;
}

textarea {
    flex: 1;
    background-color: #282c34;
    color:#ffffff;
    border: none;
    padding: 10px;
    resize: none;
    font-size: 16px;
    font-family: Consolas, monospace;
}

textarea:focus {
    outline: none;
    border: 1px solid #61dafb;
}

.output-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #1e1e1e;
    border-top: 1px solid #444;
}

.output-container h2 {
    margin-bottom: 10px;
    color: #61dafb;
}

.output {
    flex: 1;
    width: 100%;
    border: none;
    background-color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #61dafb;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #21a1f1;
}

.settings-btn,
.network-btn,
.upload-btn {
    position: fixed;
    top: 10px;
    background-color: #444;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
}

.settings-btn {
    right: 130px;
}

.network-btn {
    right: 70px;
}

.upload-btn {
    right: 10px;
}

.settings-btn:hover,
.network-btn:hover,
.upload-btn:hover {
    background-color: #61dafb;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.modal-content input[type="color"] {
    margin: 10px 0;
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
}

.modal-content button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #61dafb;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #21a1f1;
    }
